*{
    text-align: center;
    font-family: Candara, 'Cascadia Mono ScemiBold';
    margin: 0;
    background-color:  #E7D1A7;
}

.navi{
    display: flex;
    background: #582E05;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 5px;
    column-gap: 30cm;
}

.navi li,a{
    justify-self: right;
    display: flex;
    color: rgb(0, 0, 0);
    background: white;
    padding: 2px 2px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.navi ul{
    background-color: #582E05;
}

.navi h1{
    font-size: 65px;
}

nav img{
    display: flex;
    width: 120px;
    height: 85px;
    margin-left: 8px;
    border-radius: 7px;
}

.intro{
    background-color: #E7D1A7;
}

.intro h1{
    font-size: 65px;
}

.intro p{
    font-size: 20px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 35px;
}

.fill{
    background-color: #E7D1A7;
}

.fill h2{
    font-size: 45px;
    font-family: Candara;
    text-decoration: underline;
}

.fill p{
    font-size: 30px;
    padding-bottom: 20px;
}

.about{
    background-color: #E7D1A7;
}


.books{
    background-color: #E7D1A7;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.books img{
    width: 150px;
    height: auto;
    border-radius: 5px;
}

.ppr p{
    text-align: left;
    margin: 15px;
    font-size: large;
}
.ppr h2{
    font-size: 47px;
    text-decoration: underline rgb(63, 35, 3);
}
.about h2{
    font-size: 55px;
}
.about li{
    font-size: 17px;
    padding-bottom: 5px;
}

input{
    display: flex;
    justify-self: center;
    width: 65%;
    padding: 9px;
    margin-bottom:8px ;
    border: 1px,solid grey;
    border-radius: 30px;
    background-color: white;
    text-align: left;
}

textarea{
    width: 45%;
    height: 55vh;
    background-color: white;
    justify-self: left;
    border: none;
    border-radius: 20px;
}


button {
    border: none;
    border-radius: 10px;
    background: green;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    color: white;
    display: flex;
    justify-self: center;
    margin-top: 25px;
}

.page h2,h3{
    padding-bottom: 15px;
    color: darkolivegreen;
}

.about a{
    background: #582E05;
    border: none;
    padding-top: 5px;
    color: white;
}

.about p{
    padding-bottom: 10px;
}

.about button a{
    border: none;
    border-radius: 10px;
    background: green;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.books h2{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    text-decoration: underline;
}

.books a{
    justify-self: center;
    background: #582E05;
    font-size: 15px;
    color: white;
}

footer{
    margin-top: 15px;
    padding-top: 15px;
    background: #D3D2D2;
    height: 25vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
footer a{
    justify-self: center;
    background: #582E05;
    color: white;
    margin-top: 8px;
}
.toof footer{
    margin-top: 200px;
}